<div style="width: 600px;margin:auto">
    <img style="width: 600px" src="https://www.treehugger.com/thmb/6GhR0iUA3E3HbxChtsgVrJx0R_o=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__mnn__images__2010__01__shutterstock_1017158344-dda6757c19e1419dafba44e1e2ed6bb9.jpg">
</div>

<h1 align="center"> Welcome to the //Disney World!</h1>